%h1 Listing users

%p= link_to 'New User', new_user_path

%table
  %thead
    %tr
      %th Name
      %th Age
      %th

  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.age
        %td= link_to 'Show', user
